Package: siakhooi-devutils-indent
Version: 1.0.2
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash
Architecture: amd64
Homepage: <https://github.com/siakhooi/bash-devutils-indent>
Description: command to indent line of texts with a prefix.
