name: Test With Bats

on: workflow_call

jobs:
  bats-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: sudo apt install bats
      - run: ./scripts/bats-test-setup.sh
      - run: ./scripts/bats-test-run.sh
      - uses: actions/upload-artifact@v5
        with:
          name: bats-test-results
          path: |
            ./bats-test-*
