name: Test With Bats

on: workflow_call

jobs:
  bats-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - run: sudo apt install bats
      - run: ./scripts/bats-test-setup.sh
      - run: ./scripts/bats-test-run.sh

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: bats-test-results
          path: |
            ./bats-test-*
